body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
    text-transform: capitalize;
}
h2{
    font-size: 40px;
}
h3{
 font-size:20px;   
}
p{
    font-size: 17px;
    color:#333;
    line-height: 25px;
}
.color-change{
    color:orange;
}
.header-section{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.flexibale{
    display: flex;
    height: 600px;
}
.half-width{
    width:40%;
    margin-left:5%;
}
.half-width p{
    margin-bottom: 30px;
    
}
.half-width img{
    width:80%;
}
.link-btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 30px;
    background-image: linear-gradient( to right,orange,rgb(233, 117, 63));
    color:aliceblue;
    border-radius: 3px;
}
.dream-section{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.flex-exp-side{
    display:flex;
    height: 400px;
}
.exp-half-width{
    width:40%;
    margin-left: 5%;
    padding: 10px 20px 50px 20px;
    box-shadow: 10px 10px 40px gray;
}
.full{
    border-image: linear-gradient(rgb(208, 219, 52),rgb(255, 198, 92));
    border-image-slice: 1;
    border-left: 6px solid;
}
.baby{
    border-image: linear-gradient(rgb(52, 180, 219),rgb(0, 68, 255));
    border-image-slice: 7 12 14 5;
    border-left: 6px solid;
}
.exp{
    text-align: center;
    color: orange;
    margin-bottom: 80px;

}
.footer-section{
    text-align: center;
    
}
